<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/site.css" rel="stylesheet">


    <title>CS107E {{ page.title }} </title>
  </head>

<body>
  {% include navbar.html %}

  <div class="container">

    <h1 class="title">{{ page.title }}</h1>
    <hr>

    {% if page.toc == true %}
      {% include bodywithtoc.html %}
    {% else %}
      {{ content }}
    {% endif %}
  
  </div>
</body>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</html>